<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544978341993-b4q7771g7a915krl72v0sk03hq7offdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544978341993-b4q7771g7a915krl72v0sk03hq7offdr</string>
	<key>API_KEY</key>
	<string>AIzaSyBl9lNJesbK6NpWqTHXKCaUaik8-B81NWA</string>
	<key>GCM_SENDER_ID</key>
	<string>544978341993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-85f18</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-85f18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544978341993:ios:3a6fca882d49282f1212f8</string>
</dict>
</plist>